# In all environments, the following files are loaded if they exist,
# the later taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

# In all environments, the following are loaded if they exist,
# the later taking precedence over the former:
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN ANY OTHER COMMITTED FILES.
#

################################################################
#                     PAYCHEX Config                           #
################################################################
PAYCHEX_GRANT_TYPE = "xxxx"
PAYCHEX_CLIENT_ID = "xxxxx-xx-x-x-x"
PAYCHEX_CLIENT_SECRET = "xxxxxxxxxxx"
################################################################


################################################################
#                       HubSpot Config                         #
################################################################  
HubSpotAPIKEY = "xx-xxx-xx-xx-xxxx"
################################################################